<div class="row">

  <div class="col-md-7">

	<label ng-bind="itemsName"></label>

	<div class="multiselect-tree">

	  <div class="checkbox" ng-class="::'multiselect-tree-lvl' + elem.lvl" ng-repeat="elem in tree"
		   ng-click="selectAll(elem)">
		<label>
		  <input type="checkbox" ng-checked="elem.selected" /> <span ng-bind="elem.nameWeb"></span>
		</label>
	  </div>

	</div>

  </div>

  <div class="col-md-5">
	<form ng-submit="mySaveHandler(tree, meta);">

	  <div class="form-group" ng-repeat="field in metaFields" 
		   ng-include="::'multiselect-dialog-'+field.type">
	  </div>

	  <div class="form-group">
		<button class="btn btn-default" type="submit">Save</button>
	  </div>
	</form>
  </div>

</div>

<script type="text/ng-template" id="multiselect-dialog-input-text">
  <div class="form-group">
	<label ng-bind="field.nameWeb"></label>
	<input type="text" class="form-control" ng-placeholder="field.placeholder"
		   ng-model="meta[field.name]" />
  </div>
</script>

<script type="text/ng-template" id="multiselect-dialog-textarea">
  <div class="form-group">
	<label ng-bind="field.nameWeb"></label>
	<textarea class="form-control" 
			  ng-placeholder="field.placeholder"
			  ng-model="meta[field.name]"></textarea>
  </div>
</script>
